################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ashraf712/CopilotIndices/18.0.981.45449
